@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins&display=swap");

:root {
  --body-font: "Lato", sans-serif;
  --title-font: "Poppins", sans-serif;
  --body-font-size: 1rem;
  --title-font-size: 1.5rem;
  --small-text-font-size: 0.5rem;
  --body-color: #677489;
  --title-color: #111729;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 150px;

  background-color: #f2f5f9;
  margin: 0 1rem;
}

.card {
  margin: 0 auto;
  max-width: 410px;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #ffffff;
}

.card__image {
  position: relative;
  width: 100%;
  min-height: 250px;
  overflow: hidden;
  isolation: isolate;
  display: flex;
  align-items: flex-end;
}

.card__image img {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  object-fit: cover;
}

.card__image img:nth-child(1) {
  object-fit: cover;
  z-index: -1;
}

#card__overlay {
  position: absolute;
  bottom: -10px;
}

.card__content {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  color: var(--body-color);
}

.card__content p {
  width: 100%;
}

.card__content,
.profile__footer {
  padding: 1rem 2rem;
}

.card__title {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  color: var(--title-color);
  margin-bottom: 1rem;
}

.profile__footer {
  display: flex;
  font-family: var(--body-font);
  justify-content: flex-start;
  border-top: 2px solid #f2f5f9;
  margin-top: 1rem;
  padding: 1rem;
  gap: 1rem;
}

.profile__footer img {
  --aspect-ratio: 40px;
  width: var(--aspect-ratio);
  height: var(--aspect-ratio);
  border-radius: 50%;
  box-shadow: 0 0 0 6px #f2f5f9;
}

.profile__details {
  font-size: var(--small-text-font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__name {
  font-size: var(--body-font-size);
  font-weight: 600;
}

.profile__designation {
  color: #677489;
  font-weight: 400;
}
